
body{
  margin: 0;
  padding: 0;
}
.ProfileNav{
  height: 50%;
  width: 250px;
  background-color: aquamarine;
  border-radius: 10px;
  
}

.ProfileNav .ProfileNavList .row{
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  list-style-type: none;
  margin: 0%;
  display: flex;
}

.ProfileNav .ProfileNavList .row:hover {
  cursor: pointer;
  background-color: blue;
}

.row #icon{
  flex: 30%;
  display: block;
  place-items: center;
}


